.MainWrap {
    padding-left: 300px;
}
p.content {
    padding: 15px;
    margin: 0;
}
.TopNav {
    height: 70px;
    position: relative;
    background: #ccc;
}
.SideNav {
    max-width: 300px;
    width: 100%;
    height: 100%;
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
}
.ContentWrap {
    text-align: left;
    padding: 15px;
}
.modalBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.modalBg.-active {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    /* align-items: center; */
}
.modalContent {
    max-width: 600px;
    width: 100%;
    height: 300px;
    background: #fff;
    padding: 15px;
    transition: 1s ease;
}