/*
|----------------------------------------------------------------------------------------
| DOMs reset configuration. [SOURCE] https://bitsofco.de/a-look-at-css-resets-in-2018/
|----------------------------------------------------------------------------------------
*/
html,body,section {
    position: relative;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,
p, ul, li {
    margin: 0;
    padding: 0;
}
* { box-sizing: border-box; }


/*
|----------------------------------------------------------------------------------------
| Clearfix configuration. [SOURCE] http://nicolasgallagher.com/micro-clearfix-hack/
|----------------------------------------------------------------------------------------
*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}








/* Style Proper */

#main-wrapper {
    position: relative;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f3f7;
}
.main-content-wrapper {
    max-width: 100%;
    width: 100%;
}
/* Serve as class only */
.for-collapse-wrapper {
    padding-left: 60px;
    transition: .1s linear;
}
.for-collapse-wrapper.-active {
    // padding-left: 300px;
    padding-left: 260px;
}

.dom-gutter {
    padding: 15px;
}

.col- {
    float: left;
    width: 50%;
}
.divider {
    background: #ddd;
    height: 1px;
    width: 100%;
    margin: 0 auto;
}
.dom-btn.-lightgreen {
    background: #3ADD40;
    color: #fff;
}

.dom-btn.-lightgreen:active {
    background: rgb(79, 80, 79);
}
.dom-btn {
    /* generic */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;    
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border: 0;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.dom-btn.shadowed {
    box-shadow: 0px 3px rgba(0,0,0,0.1);
}

$offset: 60px;

@media only screen and (max-width: 1024px){
    // #main-wrapper,
    // .main-content-wrapper,
    // .top-navigation {
    //     max-width: 1024px;
    //     width: 1024px;
    // }
    // #main-wrapper {
    //     overflow: hidden;
    // }
}

@media only screen and (max-width: 375px){
    // #main-wrapper,
    // .main-content-wrapper,
    // .top-navigation {
    //     max-width: 375px;
    //     width: 375px;
    // }
    // #main-wrapper {
    //     overflow: hidden;
    // }
}

@import 'container-sizes.scss';