.side-navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 60px;
    width: 100%;
    background: #fff;
    transition: .1s linear;
    margin-top: 59px; // padding-top: 59px;
    padding-top: 0;
    .icon-wrap {
        border-right: 1px solid #e4e4e4;
    }
}
.side-navigation.-active {
    // max-width: 300px;
    max-width: 240px;

    overflow-x: hidden;
    border-right: 0;
    .icon-wrap {
        border-right: 0;
    }
}
.-knob {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    padding: 0 !important;
    width: 40px;
    font-size: 20px; 
    display: block;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // # Debugger background: #aaa !important;
    i {
        // # Debugger border: 1px solid red;
        display: inline-block;
        color: #777;
        width: 12px;
    }
}

